/* .header {
  display: flex;
  position: relative;
  height: 108px;
  max-width: 100%;
} */

.logo {
  position: relative;
  display: flex;
  align-items: center;
  left: 195px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  height: 108px;
}

.navlinks {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}

.mobileNavbar {
  display: none;
}

li {
  margin: 0px 20.5px 0px 20px;
  font-size: 20px;
}

a.active {
  color: rgb(89, 160, 161);
}

a :hover {
  color: rgb(122, 139, 175);
}

.hamburger {
  display: none !important;
}

@media screen and (max-width: 780px) {

  .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }

  .navbar {
    display: none;
  }

  .mobileNavbar {
    top: 75px;
    display: block;
    list-style-type: none;
    position: absolute;
    left: 0;
    transition: all 0.5s ease-out;
    width: 100%;
  }

  li {
    text-align: center;
    padding: 32px;
    width: 100%;
    font-size: 16px;
    transition: all 0.5s ease;
  }

  .hamburger {
    display: inline-flex !important;
    width: 30px;
    justify-content: center;
  }
  /* .header {
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    position: static;
  }
  img {
    height: 24px;
  }

  .navbar {
    display: none;
  }

  .mobileNavbar {
    top: 30px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    align-items: center;
    left: 80px;
  }

  li {
    font-size: 16px;
  }

  .hamburger {
    display: inline-flex !important;
    width: 30px;
    justify-content: center;
  } */
}
